{% extends "base.html" %}
{% block content %}

<h1>Add tournament</h1>

<form method="post" action="{{base_path}}/tournaments">
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control">
    </div>

    <div class="form-group">
        <label>Date</label>
        <input type="text" name="held" class="form-control">
    </div>

    <div class="form-group">
        <label>Location</label>
        <input type="text" name="location" class="form-control">
    </div>

    <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" name="status">
            <option>Ranking</option>
            <option>Premier</option>
        </select>
    </div>

    <div class="form-group">
        <label for="region">Region</label>
        <select class="form-control" name="region">
            <option>Europe</option>
            <option>North America</option>
            <option>South America</option>
            <option>Asia</option>
        </select>
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" rows="10" name="description"></textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}