{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>{{tournament.name}}</h1>
{% if message is not null %}
<div class="alert alert-success fade in">
    <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>
    {{message}}
</div>
{% endif %}


<p>
    {{forms.destroy_button("#{base_path}/tournaments/#{tournament.id}/destroy")}}
    <a href="{{base_path}}/tournaments/{{tournament.id}}/edit" class="btn btn-default">Edit</a>
</p>

<ul>
    <li><strong>Date:</strong> {{tournament.held}} - {{tournament.ends}}</li>
    <li><strong>Location:</strong> {{tournament.location}}</li>
    <li><strong>Status:</strong> {{tournament.status}}</li>
    <li><strong>Region:</strong> {{tournament.region}}</li>
</ul>

<table class="table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Tournament information:</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>{{tournament.description}}</td>
            <td></td>
        </tr>
    </tbody>
</table>



{% endblock %}