{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>{{tournament.name}}</h1>
{% if message is not null %}
<div class="alert alert-success fade in">
    <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>
    {{message}}
</div>
{% endif %}


<p>
    {{forms.destroy_button("#{base_path}/tournaments/#{tournament.id}/destroy")}}
    <a href="{{base_path}}/tournaments/{{tournament.id}}/edit" class="btn btn-default">Edit</a>
</p>

<ul>
    <li><strong>Date:</strong> {{tournament.held}} - {{tournament.ends}}</li>
    <li><strong>Location:</strong> {{tournament.location}}</li>
    <li><strong>Status:</strong> {{tournament.status}}</li>
    <li><strong>Region:</strong> {{tournament.region}}</li>
</ul>

<table class="table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Tournament information:</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>{{tournament.description}}</td>
            <td></td>
        </tr>
    </tbody>
</table>

<!--<h1>Top 8</h1>
<p>
    <a href="{{base_path}}/tournaments/{{tournament.id}}/top8" class="btn btn-success">Add Top 8</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Placing</th>
            <th>Handle</th>
            <th>Main character</th>
            <th>Points</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for i in range(1, 8) %}
        <tr>
            <td>{{ i }}</td>
            <td><a href="{{base_path}}/players/{{player.id}}"></a>{{player.handle}}</td>
            <td>{{player.characters}}</td>
            <td></td>
            <td><a class="btn-default btn-sm" href="{{base_path}}/players/{{player.id}}/edit">Edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>-->

{% endblock %}