{% extends "base.html" %}
{% block content %}

<h1>Player standings</h1>



<p>
    <a href="#" class="btn btn-success">Global</a>
    <a href="#" class="btn btn-primary">North America</a>
    <a href="#" class="btn btn-warning">South America</a>
    <a href="#" class="btn btn-info">Europe</a>
    <a href="#" class="btn btn-danger">Asia</a>

</p>

<p>
    <a href="#" class="btn btn-success">Add player</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Standing</th>
            <th>Handle</th>
            <th>Name</th>
            <th>Country</th>
            <th>Characters</th>
            <th>Points</th>
            <th></th>

        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td>RZR|<a href="#">Infiltration</a></td>
            <td>Seonwoo Lee</td>
            <td>Republic of Korea</td>
            <td>Nash</td>
            <td>512</td>
            <th><a class="btn-default btn-sm" href="#">Edit</a></th>
        </tr>
    </tbody>
</table>

{% endblock %}