{% extends "base.html" %}
{% block content %}

<h1>RZR|Infiltration</h1>

<p>
    <button class="btn btn-danger">Delete</button> <a href="#" class="btn btn-default">Edit</a>
</p>

<ul>
    <li><strong>Handle:</strong> Infiltration</li>
    <li><strong>Name:</strong> Seonwoo Lee</li>
    <li><strong>Sponsor:</strong> Razer</li>
    <li><strong>Country:</strong> Republic of Korea</li>
    <li><strong>Characters:</strong> Nash</li>
    <li><strong>Points in total:</strong> 512</li>
</ul>

<p>
    Description placeholder
</p>

<h1>Season overview</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Placing</th>
            <th>Tournament</th>
            <th>Date</th>
            <th>Status</th>
            <th>Characters</th>
            <th>Points</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1st</td>
            <td><a href="#">Final Round</a></td>
            <td>03-18-2016 - 03-20-2016</td>
            <td>Premier</td>
            <td>Nash</td>
            <td>256</td>
        </tr>
        <tr>
            <td>1st</td>
            <td><a href="#">NorCal Regionals</a></td>
            <td>03-25-2016 - 03-27-2016</td>
            <td>Premier</td>
            <td>Nash</td>
            <td>256</td>
        </tr>
    </tbody>
</table>

{% endblock %}
