{% extends "base.html" %}
{% block content %}

{% if message is not null %}
<div class="alert alert-success fade in">
    <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>
    {{message}}
</div>
{% endif %}

<h1 class="text-center">Capcom Protour</h1>

<p>
    <a class="btn btn-primary btn-lg center-block" href="{{base_path}}/tournaments" role="button">Tournaments</a>
    <a class="btn btn-info btn-lg center-block" href="{{base_path}}/players" role="button">Players</a>
</p>

{% endblock %}