{% extends "base.html" %}
{% block content %}

<h1>Cannes Winter Clash</h1>

<p>
    <button class="btn btn-danger">Delete</button> <a href="#" class="btn btn-default">Edit</a>
</p>

<ul>
    <li><strong>Date:</strong> 02-26-2016 - 02-28-2016</li>
    <li><strong>Location:</strong> Cannes, France</li>
    <li><strong>Status:</strong> Ranking</li>
    <li><strong>Region:</strong> Europe</li>
</ul>

<p>
    Description placeholder
</p>

<h1>Top 8</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Placing</th>
            <th>Handle</th>
            <th>Characters</th>
            <th>Points</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1st</td>
            <td><a href="#">Mister Crimson</a></td>
            <td>Laura</td>
            <td>128</td>
        </tr>
        <tr>
            <td>2nd</td>
            <td>BX3.TP-link|<a href="#">Phenom</a></td>
            <td>M.Bison/Necalli</td>
            <td>64</td>
        </tr>
    </tbody>
</table>

{% endblock %}