{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>{{player.name}}</h1>

{% if message is not null %}
<div class="alert alert-success fade in">
    <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>
    {{message}}
</div>
{% endif %}


<p>
    {{forms.destroy_button("#{base_path}/players/#{player.id}/destroy")}}
    <a href="{{base_path}}/players/{{player.id}}/edit" class="btn btn-default">Edit</a>
</p>

<ul>
    <li><strong>Handle:</strong> {{player.handle}}</li>
    <li><strong>Full name:</strong> {{player.name}}</li>
    <li><strong>Sponsor:</strong> {{player.sponsor}}</li>
    <li><strong>Country:</strong> {{player.country}}</li>
    <li><strong>Main character:</strong> {{player.characters}}</li>
    <li><strong>Points in total:</strong> {{player.points}}</li>
</ul>




<table class="table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Player biography:</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>{{player.description}}</td>
            <td></td>
        </tr>
    </tbody>
</table>


{% endblock %}
